/*
Notes:
-- Unit Conversion --
---------------------
* 1 rem --> 16 px | * 1 rem --> 12 pt

-- CSS Styling Order System --
------------------------------
I use my own custom CSS Architecture for prioritizing maintainability,
which I named it 'FoCoMUR' styling system
* 1.Fo - Foundation  : Reset, Variables, Base Elements
    (e.g., :root, body, h1, etc.)
* 2.Co - Component   : BEM Blocks/Elements
    (e.g., .navbar, .card__image, etc.)
* 3.M - Modifier     : State/theme Overrides
    (e.g., .button--is-active, .image--is-hidden, etc.)
* 4.U - Utilities    : Atomic helpers
    (e.g., .u-margin-top-10, .util-text-center, etc.)
* 5.R - Responsive   : Mobile-first media queries
    (e.g., @media (min-width: 768px) { ... },etc.)
*/

/*  # -------------------------------------------------- #
    #                   Foundation                       #
    # -------------------------------------------------- # */
    :root {
    /* *Elements Spacing */
    --web-spacing-section-padding-default: 1.5rem;
    --web-spacing-list-indent-default: 1.25rem;
    --web-spacing-container-margin-default: 0 1rem 1.15rem;

    --phone-spacing-section-padding-default: 1rem;
    --phone-spacing-list-indent-default: 1rem;
    --phone-spacing-container-margin-default: 0 0.5rem 1rem;

    /* *Line Spacing */
    --line-space-single-line: 1.375;
    --line-space-single-plus-half-lines: 1.5;
    --line-space-double-lines: 2;

    /* *Paragraph Spacing */
    --web-paragraph-space-12pt-single-line: 1.15rem;    /* 18.4px */

    --phone-paragraph-space-12pt-single-line: 1rem;     /* 16px */

    /* *Font Size */
    --font-size-6pt: 0.5rem;    /* 8px */
    --font-size-8pt: 0.667rem;  /* 10.672px */
    --font-size-9pt: 0.75rem;   /* 12px */
    --font-size-10pt: 0.833rem; /* 13.33px */
    --font-size-11pt: 0.917rem; /* 14.67px */
    --font-size-12pt: 1rem;     /* 16px */
    --font-size-14pt: 1.167rem; /* 18.67px */
    --font-size-16pt: 1.333rem; /* 21.33px */
    --font-size-18pt: 1.5rem;   /* 24px */
    --font-size-20pt: 1.667rem; /* 26.67px */
    --font-size-22pt: 1.833rem; /* 29.33px */
    --font-size-24pt: 2rem;     /* 32px */
    --font-size-26pt: 2.167rem; /* 34.67px */
    --font-size-28pt: 2.333rem; /* 37.33px */
    --font-size-30pt: 2.5rem;   /* 40px */

    /* *Coloring */
    --color-light-gray: rgb(230, 230, 230);
    --color-light-blue: rgb(32, 114, 202);
    --color-light-red: rgb(251, 70, 70);
    --color-light-violet: rgb(207, 159, 255);
    --color-solid-black: rgb(0, 0, 0);
    --color-solid-white: rgb(255, 255, 255);

    /* *Miscellaneous */
    /* Box Shadow */
    --web-visual-floating-card-view:
        0                   /* 0 px horizontal shadow */
        0.125rem            /* 2 px vertical shadow */
        0.625rem            /* 10 px blur radius */
        0.125rem            /* 2 px spread radius */
        rgba(0,0,0,0.2); /* warna shadow dan alpha shadow */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    padding: 1rem;
    font-size: 1rem;
}

hr {
    margin-bottom: var(--web-paragraph-space-12pt-single-line);
    opacity: 10%;
    border: 0.125rem solid var(--color-solid-black);
}

/*  # -------------------------------------------------- #
    #                     Component                      #
    # -------------------------------------------------- # */

/*  *<!-- Navigation Menu -->  
    *     ---------------     */

.nav-menu {
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: var(--color-light-gray);
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo::before{
    font-size: 1.6em;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right,rgb(81, 153, 212),rgb(45, 45, 214));
    transition: .3s;
}
.logo:hover::before{
    height: 2px;
}
.nav-menu__list {
    list-style-type: none;
}

.nav-menu__list-item {
    margin-right: 1.5rem;

    display: inline;
}

.nav-menu__link {
    padding: 0.25rem 0.5rem;

    color: var(--color-light-blue);

    text-decoration: none !important;
}

/*  *<!-- Personal Information -->  
    *     --------------------     */

.personal-info__container {
    margin-bottom: var(--web-paragraph-space-12pt-single-line);
    padding: var(--web-spacing-section-padding-default);
}

.personal-info__name {
    font-size: var(--font-size-16pt);
    line-height: var(--line-space-single-line);
}

.personal-info__job-title {
    font-size: var(--font-size-14pt);
    line-height: var(--line-space-single-line);
}

.personal-info__contact-text {
    font-size: var(--font-size-12pt);
    line-height: var(--line-space-single-line);
}

.personal-info__contact-link {
    /* > Normal State < */
    color: var(--color-light-blue);
    padding: 0.25rem 0.5rem;                /* Ruang sekitar teks */
    border-radius: 0.25rem;                 /* Sudut melengkung */
    display: inline-block;                  /* Agar padding & background bekerja baik */
}

/*  *<!-- Professional Summary -->  
    *     --------------------     */

.professional-summary__container {
    margin: var(--web-spacing-container-margin-default);
    padding: var(--web-spacing-section-padding-default);

    border-radius: 0.5rem;
    box-shadow: var(--web-visual-floating-card-view);
}

.professional-summary__title {
    font-size: var(--font-size-16pt);
    line-height: var(--line-space-single-line);
}

.professional-summary__description {
    font-size: var(--font-size-12pt);
    line-height: var(--line-space-single-line);
}

/*  *<!-- Organization Experience -->  
    *     -----------------------   */

.organization-experience__container {
    margin: var(--web-spacing-container-margin-default);
    padding: var(--web-spacing-section-padding-default);

    border-radius: 0.5rem;
    box-shadow: var(--web-visual-floating-card-view);
}

.organization-experience__title {
    font-size: var(--font-size-16pt);
    line-height: var(--line-space-single-line);
}

.organization-experience__fragment-container {
    margin-bottom: var(--web-paragraph-space-12pt-single-line);
}

.organization-experience__fragment-title {
    font-size: var(--font-size-14pt);
    line-height: var(--line-space-single-line);
}

.organization-experience__fragment-subtitle {
    margin-bottom: var(--web-paragraph-space-12pt-single-line);

    font-size: var(--font-size-14pt);
    line-height: var(--line-space-single-line);
}

.organization-experience__fragment-list {
    padding-left: var(--web-spacing-list-indent-default);
}

.organization-experience__fragment-list-item {
    font-size: var(--font-size-12pt);
    line-height: var(--line-space-single-line);
}

/*  *<!-- Educational Background -->  
    *     ----------------------     */

.education__container {
    margin: var(--web-spacing-container-margin-default);
    padding: var(--web-spacing-section-padding-default);

    border-radius: 0.5rem;
    box-shadow: var(--web-visual-floating-card-view);
}

.education__title {
    font-size: var(--font-size-16pt);
    line-height: var(--line-space-single-line);
}

.education__fragment-container {
    margin-bottom: var(--web-paragraph-space-12pt-single-line);
}

.education__fragment-title {
    font-size: var(--font-size-14pt);
    line-height: var(--line-space-single-line);
}

.education__fragment-subtitle {
    margin-bottom: var(--web-paragraph-space-12pt-single-line);

    font-size: var(--font-size-14pt);
    line-height: var(--line-space-single-line);
}

.education__fragment-list {
    padding-left: var(--web-spacing-list-indent-default);
}

.education__fragment-list-item {
    font-size: var(--font-size-12pt);
    line-height: var(--line-space-single-line);
}

/*  *<!-- Skill Stack List -->  
    *     ----------------  */

.skills__container {
    margin: var(--web-spacing-container-margin-default);
    padding: var(--web-spacing-section-padding-default);

    border-radius: 0.5rem;
    box-shadow: var(--web-visual-floating-card-view);
}

.skills__title {
    font-size: var(--font-size-16pt);
    line-height: var(--line-space-single-line);
}

.skills__fragment-container {
    margin-bottom: var(--web-paragraph-space-12pt-single-line);
}

.skills__fragment-title {
    font-size: var(--font-size-14pt);
    line-height: var(--line-space-single-line);
}

.skills__fragment-description {
    font-size: var(--font-size-12pt);
    line-height: var(--line-space-single-line);
}

.copyright__container {
    border-radius: 0.25rem;
    margin: 3rem 0 1rem;
    padding: 1rem;

    background-color: var(--color-light-gray);
}

.copyright__description {
    font-size: var(--font-size-12pt);
    line-height: var(--line-space-single-line);
}
/*  # -------- #
    # Modifier #
    # -------- # */

/*  *=== HOVER STATE Modifiers ===* 
    *    =====================      */

/*  *<!-- Hover (Fade In and Out) Animation -->  
    *     ---------------------------------  */
.hover-fade-in-out {
    /* > Normal State < */
    background-color: transparent;
    color: var(--color-light-blue);

    transition: all 0.3s ease;
}

.hover-fade-in-out:hover,
.hover-fade-in-out:focus,
.hover-fade-in-out:active {
    color: var(--color-solid-white) !important;
    background-color: var(--color-light-blue);
}

.hover-fade-in-out:visited {
    color: var(--color-light-violet);
    background: var(--color-light-violet);
}

/*  *<!-- Hover (Sweep to Right) Animation -->  
    *     --------------------------------  */
.hover-sweep-to-right { 
    /* Box Model */
    display: inline-block;
    overflow: hidden;

    /* Layout */
    position: relative;
    vertical-align: middle;
    z-index: 1;

    /* Visual */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);

    /* Misc. */
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.hover-sweep-to-right:before {
    /* Box Model */
    height: 100%;
    border-radius: 0.25rem;

    /* Layout */
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* Visual */
    background: var(--color-light-blue); /* Warna default Hover.css */
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;

    /* Misc */
    content: "";
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}

.hover-sweep-to-right:visited:before {
    /* Visual */
    background: var(--color-light-violet);
}

.hover-sweep-to-right:hover, 
.hover-sweep-to-right:focus, 
.hover-sweep-to-right:active {
    color: var(--color-solid-white) !important;
}

.hover-sweep-to-right:visited {
    color: var(--color-light-violet);
}

.hover-sweep-to-right:hover:before, 
.hover-sweep-to-right:focus:before, 
.hover-sweep-to-right:active:before {
    width: 100%;

    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*  # --------- #
    # Utilities #
    # --------- # */
.debug-styling-highlighter {
    /*== VISUAL ==*/
    background-color: pink !important;
}

.u-link-style-reset {
    /*== VISUAL ==*/
    text-decoration: none !important;
}

.u-text-bolder {
    /*== TYPOGRAPHY ==*/
    font-weight: bolder !important;
}

.u-text-center {
    /*== LAYOUT ==*/
    text-align: center !important;
}

.u-text-font-size-14pt {
    /*== TYPOGRAPHY ==*/
    font-size: var(--font-size-14pt) !important;
}

.u-text-highlight {
    /*== VISUAL ==*/
    color: var(--color-light-red);
}

.u-text-normalize {
    /*== TYPOGRAPHY ==*/
    font-weight: normal !important;
}

/*  # ---------------- #
    # Responsive Media #
    # ---------------- # */

@media (max-width: 768px) {
/*  *<!-- Navigation Menu -->  
    *     ---------------     */
    .nav-menu{
        width: fit-content;
        display: block;
    }

    .nav-menu__list-item {
        display: block;
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

/*  *<!-- All of Section Main and Sub Titles -->  
    *     ----------------------------------     */
    .personal-info__name {
        font-size: var(--font-size-14pt);
    }

    .personal-info__job-title {
        font-size: var(--font-size-12pt);
    }

    .professional-summary__title,
    .organization-experience__title,
    .education__title,
    .skills__title {
        font-size: var(--font-size-14pt); /* Judul lebih kecil di mobile */
    }

    .organization-experience__fragment-title,
    .organization-experience__fragment-subtitle,
    .education__fragment-title,
    .education__fragment-subtitle {
        font-size: var(--font-size-12pt); /* Subjudul lebih kecil di mobile */
    }

/*  *<!-- All of Section Text Content -->  
    *     --------------------------     */

    .personal-info__contact-text,
    .personal-info__contact-link,
    .professional-summary__description,
    .organization-experience__fragment-list-item,
    .education__fragment-list-item,
    .skills__fragment-description {
        font-size: var(--font-size-10pt);
    }

/*  *<!-- Footer -->
    *     ------     */

    .copyright__container {
        width: fit-content;
        margin: 2.15rem 0 0.5rem;
    }

    .copyright__description {
        font-size: var(--font-size-10pt);
    }
}